doctype html
html.
  <head>
    <title> jade is awesome</title>
  </head>

  <body>
     <h1> This is from header tag </h1>
     <p>  This is coming form the paragraph tag coz i like typing unnecessary things </p>
     <button>Hello</button>
  <form action = "/service/hello">
  <input type = "submit" value= "press me">
  </form>
  </body>